<?xml version="1.0" encoding="utf-8"?>
<!--
Este archivo se usa en el proceso de publicación y empaquetado del proyecto web. Para personalizar el comportamiento de este proceso,
edite el archivo MSBuild. Visite https://go.microsoft.com/fwlink/?LinkID=208121 para obtener más información. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://bonapetit.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>bonapetit.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>BonAPetit</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$BonAPetit</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="appUEntities1" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:serverbonappetit.database.windows.net,1433;Initial Catalog=appU;Persist Security Info=False;User ID=adminBonAppetit;Password=racso@5847;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False" Name="Server=tcp:serverbonappetit.database.windows.net,1433;Initial Catalog=appU;Persist Security Info=False;User ID=adminBonAppetit;Password=racso@5847;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="appUcleus2.Models.appUEntities1, appUcleus2" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="appUEntities1-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.Model10.csdl|res://*/Models.Model10.ssdl|res://*/Models.Model10.msl;provider=System.Data.SqlClient;provider connection string="Server=tcp:serverbonappetit.database.windows.net,1433;Initial Catalog=appU;Persist Security Info=False;User ID=adminBonAppetit;Password=racso@5847;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>